
@import url('https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet');

*{
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    color: black;
}
html,body{
    margin:0;
    padding:0;
}
.nav ul{
    margin: 0;
    padding: 0;
}

.nav li{
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .9em;
    color: rgb(0, 0, 0);
    text-decoration: none;
}


.main-nav{
    top: 0;
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    background-color: rgb(197, 197, 197);
    overflow: hidden;

}

.nav a:hover {
    background-color: rgba(109, 109, 104, 0.5)
}

.main-nav il{
    padding: 30px;
}
.main-header{
    background-color: rgb(134, 211, 255);
    background-image: url('images/header1.png');
    background-repeat: no-repeat;
    background-blend-mode: multipy;
    background-size: contain;
    padding-bottom: 220px;
    padding-top: 0px
}

.content-section{
    margin-top: 10px;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
}

.item-image{
    height: 150px;
    width: 100px;
}

.main-footer{
    text-align: center;
    background-color:rgb(168, 168, 168);
    font-weight: lighter;
}

.main-footer-container{
    display: flex;
    align-items: center;
    margin: 0;
}

.main-footer-container ul{
    flex-grow: 1;
    margin: 0;
}

/* FIXME:: margins */
.footer-nav li{
    display:inline;
}

.cart-header{
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    border-bottom: 1px solid gray;
}

.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 5px;
}


.cart-row{
    display: flex;
}

.cart-item{
    width: 30%
}

.cart-description{
    width: 20%
}

.cart-price{
    width: 25%;

}

.cart-quantity{
    width: 25%
}

.item-price{
    font-size:1.3em;
}

.btn-danger{
    color: white;
    background-color: rgb(231, 77, 77);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: rgb(182, 31, 31)
}

.cart-quantity-input{
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgb(72, 205, 245);
    background-color: #eee;
    color: black;
    text-align: center;
    font-size: 1.3em;
    margin-left: 10px;
    margin-right: 10px;
}

.cart-row:last-child{
    border-bottom: 1px solid grey;
}

.cart-row:last-child .cart-column{
    border: none;
}

.cart-total{
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title{
    font-weight: bold;
    font-size: 1.3em;
    color: black;
    margin-right: 10px;
}

.cart-total-price{
    font-weight: bold;
    font-size: 1.3em;
}

.btn-purchase{
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    color: white;
    background-color: rgb(72, 205, 245);
    border-radius: .3em;
    font-weight: bold;
    border: none;

}

.btn-purchase:hover{
    background-color: rgb(66, 120, 180);
}